/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --white: 0, 0%, 100%;
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --black: 0, 0%, 0%;

    /* colors primary */
    --bright-orange: 31, 77%, 52%;
    --dark-cyan: 184, 100%, 22%;
    --very-dark-cyan: 179, 100%, 13%;

    /* colors neutral */
    --very-light-gray: 0, 0%, 95%;

    /* font-sizes */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* font-families */
    --ff-cursive: 'Big Shoulders Display', cursive;
    --ff-sans-serif: 'Lexend Deca', sans-serif;

}


/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body {
    font-family: var(--ff-sans-serif);
    font-weight: 400;
    font-size: var(--fs-300);
    background-color: hsl(var(--very-light-gray));
    color: hsl(var(--white));
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* forms */
input,
button,
textarea,
select {
    font: inherit;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* ------------------- */
/* ------------------- */
/* ------------------- */

.container-main {
    display: flex;
    justify-content: center;

    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);

    max-width: 1440px;
}

section {
    padding: 3em;
    width: 17em;
}

section h2 {
    text-transform: uppercase;
    font-family: var(--ff-cursive);
    font-size: 5vh;
}

h2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

p {
    margin-bottom: 2em;
}

/* sedans */
.block-sedans {
    background-color: hsl(var(--bright-orange));
}
.block-sedans > button {
    color: hsl(var(--bright-orange));
}

/* suvs */
.block-suvs {
    background-color: hsl(var(--dark-cyan));
}
.block-suvs > button {
    color: hsl(var(--dark-cyan));
}

/* luxury */
.block-luxury {
    background-color: hsl(var(--very-dark-cyan));
}
.block-luxury > button {
    color: hsl(var(--very-dark-cyan));
}

section > button {
    padding: .5em 1em;
    border-radius: 50px;
    outline: 2px solid hsl(var(--white));
    color: hsl(var(--bright-orange));
}

section > button:hover {
    background-color: transparent;
    color: black;
}

/**************/
/*** footer ***/
/**************/

footer {
    position: absolute;

    bottom: 0;
    left: 0;
    right: 0;

    padding: .5em;
    text-align: center;
    background-color: hsl(var(--very-dark-cyan));
}

footer a {
    color: hsl(var(--very-light-gray));
}

@media (max-width: 860px) {
    .container-main {
        display: block;
        justify-content: center;
        flex-direction: column;

        position: static;
        top: 50%;
        right: 50%;
        transform: none;
    }

    section {
        width: auto;
        padding: 2.5em;
    }

    footer {
        position: sticky;
    }

    main {
        margin: 5rem;
    }
}
